*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    /*background: linear-gradient(#241f24, #f79c9c );*/
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #ffffff;
}
/* barra de pesquisa*/

.search-box{
    position: absolute;
    top: 62px;
    right: 0;
    transform:translate(-50%, -50%) ;
    background: #ff9999;
    height: 40px;
    padding: 10px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    padding-left: 30px;
}

.search-box > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ebebeb;
    opacity: 1; /* Firefox */
  }
  
  .search-box > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ebebeb;
  }
  
  .search-box > input::-ms-input-placeholder { /* Microsoft Edge */
    color: #ebebeb;
  }

.search-box > input {
    border: none;
    height: 24px;
    background-color: #ff9999;
}
.barra-de-pesquisa img{
    padding: 0;
    height: 26px;
    display: block;
    float: right;
    margin-left: 8px;
}
.barra-de-pesquisa i {
    color: #3c3c3c;
}

/* Layout*/

#area-cabecalho{
    background-color: #241f24;
    /* padding: 40px;   */
}

/*Formatação area logo + area menu*/

#area-logo, #area-menu{
    padding: 10px;
    text-align:center;
}

/* Formatação do logo*/
#area-logo{
    padding-bottom: 0%;
}

/* Formatação do Menu*/

a{
    text-decoration:none;
}

#area-menu{
    padding-top: 0%;

}
a:link, a:visited{
    color: #ff9999;
    padding: 8px 12px;
}
a:hover{
    color:#241f24;
    background: #fff;

}


/* Formatação da imagem*/

img{
    width: 100px;
}

/* Formatações em geral*/

h1{
    color: #000000;
    font-size: 2.5em; 
    
}